<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dom" name="DOM for Archi scripts" schema="schema/dom.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.archimatetool.groovyscripts.ShowScriptsViewHandler"
            id="com.archimatetool.groovyscripts.command.showScriptsView"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:tools">
         <separator
               name="com.archimatetool.groovyscripts.menu.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.archimatetool.groovyscripts.command.showScriptsView"
               icon="img/groovy.png"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.archimatetool.groovyscripts.toolbar">
            <command
                  commandId="com.archimatetool.groovyscripts.command.showScriptsView"
                  icon="img/script.png"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.groovyscripts.toolbar.separator1"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?before=start_properties">
         <menu
               id="com.archimatetool.groovyscripts.treemenu"
               label="%menu.label">
            <dynamic
                  class="com.archimatetool.groovyscripts.ScriptsContextMenuContributionItem"
                  id="com.archimatetool.groovyscripts.treemenu2">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ArchimateDiagramEditorContextMenuProvider?endof=group_export">
         <menu
               id="com.archimatetool.groovyscripts.editormenu"
               label="%menu.label">
            <dynamic
                  class="com.archimatetool.groovyscripts.ScriptsContextMenuContributionItem"
                  id="com.archimatetool.groovyscripts.menu">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:SketchEditorContextMenuProvider?endof=group_export">
         <menu
               id="com.archimatetool.groovyscripts.editormenu3"
               label="%menu.label">
            <dynamic
                  class="com.archimatetool.groovyscripts.ScriptsContextMenuContributionItem"
                  id="com.archimatetool.groovyscripts.menu3">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:CanvasEditorContextMenuProvider?endof=group_export">
         <menu
               id="com.archimatetool.groovyscripts.editormenu2"
               label="%menu.label">
            <dynamic
                  class="com.archimatetool.groovyscripts.ScriptsContextMenuContributionItem"
                  id="com.archimatetool.groovyscripts.menu2">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.groovyscripts.views.scripts.ScriptsFileViewer"
            icon="img/groovy.png"
            id="com.archimatetool.groovyscripts.scriptsView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            class="com.archimatetool.groovyscripts.views.console.ConsoleView"
            icon="img/console_view.png"
            id="com.archimatetool.groovyscripts.consoleView"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.archimatetool.groovyscripts.scriptsView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         </view>
         <view
               id="com.archimatetool.groovyscripts.consoleView"
               minimized="false"
               relationship="right"
               relative="com.archimatetool.groovyscripts.scriptsView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.archimatetool.groovyscripts.Startup"></startup>
   </extension>
   <extension
         point="com.archimatetool.groovyscripts.dom">
      <dom
            class="com.archimatetool.groovyscripts.dom.model.Selection"
            id="com.archimatetool.groovyscripts.selection"
            variableName="selection">
      </dom>
      <dom
            class="com.archimatetool.groovyscripts.dom.model.CurrentModel"
            id="com.archimatetool.groovyscripts.currentmodel"
            variableName="model">
      </dom>
      <dom
            class="com.archimatetool.groovyscripts.dom.model.Model"
            id="com.archimatetool.groovyscripts.model"
            variableName="jArchiModel">
      </dom>
      <dom
            class="com.archimatetool.groovyscripts.dom.ui.Browser"
            id="com.archimatetool.groovyscripts.browser"
            variableName="Browser">
      </dom>
      <dom
            class="com.archimatetool.groovyscripts.dom.ui.Console"
            id="com.archimatetool.groovyscripts.console"
            variableName="console">
      </dom>
      <dom
            class="com.archimatetool.groovyscripts.dom.jarchi.FS"
            id="com.archimatetool.groovyscripts.jArchiFS"
            variableName="jArchiFS">
      </dom>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.archimatetool.groovyscripts.preferences.ScriptPreferencePage"
            id="com.archimatetool.groovyscripts.preferences.ScriptPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.archimatetool.groovyscripts.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.archimatetool.groovyscripts.dom">
   </extension>

</plugin>
